.contacts {
    @extend %list;

    display: flex;
    flex-direction: column-reverse;

    color: var(--primary-white-color);
    margin-bottom: 64px;

    @media screen and (min-width: $tablet) {
        display: flex; 
        flex-direction: column;
        margin-left: auto;
        margin-bottom: 0;
    }

    @media screen and (min-width: $desctop) {
        flex-direction: inherit;
        align-items: center;
        
    }
}

.contacts__item {

    @media screen and (max-width: 1200px) {
        &:first-child {
            margin-bottom: 10px;
        }
    }
    
    @media screen and (min-width: $desctop) {

        &+& {
            margin-left: 30px;
        }
    }
}

.contacts__link {
    @extend %link;

    @include flex (flex, center);

    color: var(--primary-text-color);
    font-weight: 500;
    
    letter-spacing: 0.02em;

    @media screen and (max-width: 767.9px) {
        font-size: 34px;
        line-height: 1.17;
    }
    
    @media screen and (min-width: $tablet) {
        font-size: 12px;
    }
    
    @media screen and (min-width: $desctop) {
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }     
}

.contacts__link--mail {

    @media screen and (max-width: 767.9px) {
        font-size: 24px;
        line-height: 1.16;
         
    }

    @media screen and (min-width: 768px) {
        padding-top: 20px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
    }
}

.contacts__link--tel {

    @media screen and (max-width: 767.9px) {
        color: var(--accent-color);
        margin-bottom: 32px; 
    }

    @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    }


    @media screen and (min-width: 1200px) {
        padding-bottom: 32px;
    }
}

.contacts__icon {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
        margin-right: 10px;
        cursor: pointer;
        fill: currentColor;
    }  
}