// .contacts {
//     @extend %list;

//     display: flex;
//     margin-left: auto;

//     color: var(--primary-white-color);

//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     &__item+&__item {
//         margin-left: 30px;
//     }
// }

// .contacts__link {
//     @extend %link;

//     @include flex (flex, center);

//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: var(--primary-text-color);
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
// }

// .contacts__icon {
//     margin-right: 10px;
//     cursor: pointer;
//     fill: currentColor;
// }

.contacts {
    @extend %list;

    // margin-left: auto;

    display: flex;
    flex-direction: column-reverse;

    color: var(--primary-white-color);

    @media screen and (min-width: $tablet) {
        display: flex; 
        flex-direction: column;
    }

    @media screen and (min-width: $desctop) {
        flex-direction: inherit;
        

        &__item+&__item {
            margin-left: 30px;
        }
    }
}

.contacts__link {
    @extend %link;

    @include flex (flex, center);

    color: var(--primary-text-color);
    font-weight: 500;
    
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
        font-size: 34px;
        line-height: 1.17;
    }
    
    @media screen and (min-width: $tablet) {
        font-size: 12px;
    }
    
    @media screen and (min-width: $desctop) {
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }     
}

.contacts__link--mail {

    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.16;
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: $desctop) {
        margin-bottom: 0;
    }
    
}

.contacts__icon {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
        margin-right: 10px;
        cursor: pointer;
        fill: currentColor;
    }  
}