.examples {
    @extend %list;
   

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.examples__item {
    max-width: 100%;
    margin-bottom: 30px;
    

    @media screen and (min-width: $tablet) {
        margin: 15px;
        width: calc((100% - 4 * 15px) / 2);
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $desctop) {
        
        width: calc((100% - 6 * 15px) / 3);
   
    }
   
}


