// .filter {
//     @extend %list;
    
//     @include flex (flex, none, center);
    
//     margin-bottom: 50px;

//     &__item+&__item {
//         margin-left: 8px;
//     }
// }

.filter {
    @extend %list;
    margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
        @include flex (flex, none, center);
        
    }
}

.filter__item {

    margin-right: 8px;
    
    &:nth-child(-n + 3) {
        margin-bottom: 15px;
    }

    &:last-child {
        margin-right: 0;
    }

    @media screen and (min-width: $tablet) {

        &:nth-child(4) {
            margin-left: 8px;
        }

        &:nth-child(-n+5) {
            margin-bottom: 0;
        }

    }
}