.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    &:nth-child(2) {
        padding-bottom: 0;
    }

    &:nth-child(3n) {
        display: none;
    }

    &:nth-child(4n) {
        background-color: var(--bg-color-filter);
    }

    @media screen and (min-width: $desctop) {
        padding-top: 94px;
        padding-bottom: 94px;

        &:nth-child(3n) {
            display: block;
        }
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
}
